.detail {
    ion-list > .item{
        border-top: none;
        padding-left: 0;
        border-bottom-color: #e6e6e6;;
    }
    .topic-content{
        font-size: 16px;
        color: #666;
        line-height: 28px;
    }
}